name: Check & Deploy API Documentation (Bump.sh)

on:
  push:
    branches: [main, master]
    tags:
      - 'v*.*.*'
  pull_request:
    branches: [main, master]

permissions:
  contents: read
  pull-requests: write

jobs:
  deploy-doc:
    if: ${{ github.event_name == 'push' }}
    name: Deploy API documentation on Bump.sh
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy API documentation
        if: ${{ secrets.BUMP_TOKEN != '' }}
        uses: bump-sh/github-action@v1
        with:
          doc: 3379e663-b934-4fcd-8823-975312dedfbd
          token: ${{ secrets.BUMP_TOKEN }}
          file: docs/swagger.yaml

  api-diff:
    if: ${{ github.event_name == 'pull_request' }}
    name: Comment PR with API diff (Bump.sh)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Comment pull request with API diff
        if: ${{ secrets.BUMP_TOKEN != '' }}
        uses: bump-sh/github-action@v1
        with:
          doc: 3379e663-b934-4fcd-8823-975312dedfbd
          token: ${{ secrets.BUMP_TOKEN }}
          file: docs/swagger.yaml
          command: diff
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
